body {
  font-size: 1.6rem;
}

.heading-primary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient( to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip:  text;
  background-clip: text;
  color: transparent;
  letter-spacing: .3rem;
  
 
}

.heading-secondary {
  font-size: 1.6rem;
  font-weight: 700;
  color: $color-grey;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.paragraph {
  font-size: 1.6rem;
  color: $color-grey;
  
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}